<span class="npdc-crumbs-container">
    <span>
       <a href="template">Create/edit template</a>
    </span>
</span>

<npdc-search:input feed="feed"></npdc-search:input>

<npdc:contributions></npdc:contributions>

<!--  <npdc:search feed="feed"></npdc:search>  -->
 <div class="npdc-search">
   <md-content>
<section>
  <div class="np-layout-list">
          <md-list>

            <md-list-item class="md-2-line" ng-repeat="e in feed.entries" ng-href="fieldwork/{{ e.id }}-1">
            <img class="md-avatar" src="../assets/img/app-icons/48/ecotox.png"  alt="icon ecotox"  title="ID:{{ e.id }}" />

              <div class="md-list-item-text">
                <h3 class="md-headline">{{ e.title | t }}<em>「{{ e.updated_by | t }}」</em></h3>
              <h4>    Created: {{ (e.created).substring(0,10) }}, updated: {{ (e.updated).substring(0,10) }}</h4>
              </div>
            </md-list-item>
          </md-list>
          <md-divider></md-divider>
        </div>
         <md-button class="md-raised md-primary" ng-if="showNext()" ng-click="next()">More</md-button>
         </section>
       </md-content>
  </div>
