<!DOCTYPE html>
<npdc:edit-button class="np-primary-control"></npdc:edit-button>
<link rel="stylesheet" type="text/css" href="datatables.net-dt/css/jquery.dataTables.min.css">


<div ng-controller="EcotoxFieldworkEditController">
<div class="tab">

  <button class="tablinks" ng-click='ecotoxTab("Field")'>Field</button>
  <button class="tablinks" ng-click='ecotoxTab("Base")'>Base</button>
  <button class="tablinks" ng-click='ecotoxTab("File_upload")'>File upload</button>
  <p id="displayTemplate"></p>
</div>
</div>


<div id="Field" class="tabcontent">
  <h3>Ecotox - Field information</h3>
<!--  <table id="list4"></table>
<div id="prowed1"></div>

    <input id="nameDataCollectorText" type="text">
    <input id="eventDateText" type="text">
    <input id="idAnimalText" type="text">
    <input id="speciesText" type="text">
    <input id="matrixText" type="text">
    <input id="labelSampleText" type="text">
    <input id="amountCollectedText" type="text">
    <input id="netIdText" type="text">
    <input id="salinityText" type="text">
    <input id="commentText" type="text">

  <input id="id_animal2">
  <button type="button" onclick="copy()">Copy</button><br/>
  <button type="button" onclick="new()">New</button><br/>
  <button type="button" onclick="save()">Save</button>
  <button type="button" onclick="reset()">Reset</button>

  <p id="response"></p> -->

  <button type="button" id="newBtn">New</button>
<button type="button" id="addBtn">Copy</button>
<button type="button" id="delBtn">Delete</button>
<button type="button" id="editBtn">Edit</button>
<button type="button" id="saveBtn">Save</button>

<table id="example" class="display" width="100%"></table>
</div>


<div id="Base" class="tabcontent">
  <h3>Ecotox - Base information</h3>
  <div id="baseElements"></div>
  <br/>
</div>

<!-- Tab content -->
<div id="File_upload" class="tabcontent">
  <h3>Ecotox - File upload</h3>
</div>
