

  <h3>Ecotox - Field information</h3>


<!--
<div id="edit_table" style="width: 100%; overflow:auto;"></div>

    Obj: <input type="text" ng-model="excelObj.dataRows[0].project_group">
    obj: <input type="text" ng-model="excelObj.headers[0]">
 -->

 <button type="button" id="newBtn" >New</button>
 <button type="button" id="copyBtn">Copy</button>
 Add rows: <input type="text" name="addRows" id="addRows" size=2 maxlength=2>
 <button type="button" id="delBtn">Delete</button>
 <button type="button" id="saveBtn">Save</button>

     <table id="edit_table" style="width: 100%; overflow:auto;">
         <thead>
             <tr id="header1">
             </tr>
         </thead>
         <tbody id="tbody1">
         </tbody>
     </table>
